<canvas id="renderCanvasBG" touch-action="scroll" style="height: 100%; width: 100%"></canvas>


<script>

      const canvasBG= document.createElement('canvas');// Get the canvas element

      const engineBG = new BABYLON.Engine(canvasBG, true); // Generate the BABYLON 3D engine
	
      





      // Add your code here matching the playground format

      const createSceneBG = function () {

        const sceneBG = new BABYLON.Scene(engineBG);


	var mesh;
        //  BABYLON.MeshBuilder.CreateBox("box", {});
        BABYLON.SceneLoader.ImportMesh(
           undefined, // Name of meshes to load
           "{{ include.path }}", // Path on a server for the file
           "{{ include.model }}", // The file name that should be loaded from the above path
            sceneBG,function (M) {
		mesh = M[0];
		sceneBG.beforeRender = () => {
			
			//create a Center of Transformation

                        var CoT = new BABYLON.TransformNode("BG");
			CoT.rotation.z = 0.401426;
       
                        mesh.parent = CoT; //apply to Box
			const rotation = mesh.rotationQuaternion.toEulerAngles()
		        rotation.y += 0.01;
			//rotation.x = 1;
		        mesh.rotationQuaternion = BABYLON.Quaternion.FromEulerVector(rotation)

		};
	    }
         )


	      


        const cameraBG = new BABYLON.ArcRotateCamera("camera", -Math.PI / 2, Math.PI / 2.5, 15, new BABYLON.Vector3(0,2,-10));
        cameraBG.lowerRadiusLimit = 15;
        cameraBG.upperRadiusLimit = 15;
        //cameraBG.attachControl(canvasBG, true);
        
        const lightBG = new BABYLON.HemisphericLight("light", new BABYLON.Vector3(1, 1, 0));

	// Skybox
	var skybox = BABYLON.MeshBuilder.CreateBox("skyBox", {size:1000.0}, sceneBG);
	var skyboxMaterial = new BABYLON.StandardMaterial("skyBox", sceneBG);
	skyboxMaterial.backFaceCulling = false;
	skyboxMaterial.emissiveColor = new BABYLON.Color3(0, 0, 0);
	skybox.material = skyboxMaterial;			
	skybox.infiniteDistance = true;
        skyboxMaterial.disableLighting = true;
                    
                    
        //scene{{ include.id }}.registerBeforeRender(function(){
		//const rotation = scene{{ include.id }}.getMeshByName("__root__").rotationQuaternion.toEulerAngles()
		//rotation.y += 0.01;
		//scene{{ include.id }}.getMeshByName("__root__").rotationQuaternion = BABYLON.Quaternion.FromEulerVector(rotation)
		//console.log(scene{{ include.id }}.getMeshByName("__root__"));
	//});

        return sceneBG;

      };



      const sceneBG = createSceneBG(); //Call the createScene function
      document.body.style.background = 'url(' + canvasBG.toDataURL() + ')';


      // Register a render loop to repeatedly render the scene

      engineBG.runRenderLoop(function () {

        sceneBG.render();

      });



      // Watch for browser/canvas resize events

      window.addEventListener("resize", function () {

        engineBG.resize();

      });

        </script>
