---
---
//$primary: #333333;

//Purple is #8c03fc
$primary: #737373;
$breadcrumb-item-separator-color: #8c03fc;

// DON'T CHANGE. This sets the burger color that only appears on mobile, by default its a weird blue but white is much better
$navbar-burger-color: #ffffff; 

// Import Main CSS file from theme
@import "main";
